<%- include('layout/header') %>
    <br>
    <div class="container">
        <h1>Esto es para la tarea de AWS</h1> <br>
        <h5>Hecho por Emilio Roberto Fabriciano Contreras Gonzales</h5>
    </div>

<%- include('layout/footer') %>